[Unit]
Description=ClawIO Server Daemon
Documentation=http://clawio.github.io
After=network.target

[Service]
Type=simple
PIDFile=/var/run/clawiod.pid
User=clawiod
ExecStart=/usr/bin/clawiod --config /etc/clawiod/clawiod.conf
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
